<html>
<head>
    <style>
                .center_div {
                    border: 1px solid gray;
                    margin-left: auto;
                    margin-right: auto;
                    width: 90%;
                    text-align: left;
                    padding: 8px;
                }
                .item {
                    border: 1px solid black;
                    padding: 5px;
                    border-collapse: collapse;
                    margin-left: 20px;
                    margin-right: 20px
                    padding-left: 20px;
                    padding-right: 20px
                }
            </style>
</head>
<body>
<div class="center_div">
    <h1 style="text-align: center;">Export invoice</h1>
    <div>
        <p style="text-align: center;">This invoice is generated after your item export.</p>
    </div>
    <hr />
    <table style="margin-top: 50px" class="item">
        <tbody>
        <tr class="item">
            <td class="item" style="width: 200px">Item name: </td>
            <td id="name" class="item" style="width: 30vh; text-align: right">{{ITEMNAME}}</td>
        </tr>
        <tr class="item">
            <td class="item" style="width: 200px">Item weight: </td>
            <td id="weight" class="item" style="width: 30vh; text-align: right">{{ITEMWEIGHT}}</td>
        </tr>
        <tr class="item">
            <td class="item" style="width: 200px">Manufacturer company: </td>
            <td id="company" class="item" style="width: 30vh; text-align: right">{{COMPANY}}</td>
        </tr>
        <tr class="item">
            <td class="item" style="width: 200px">Arrival: </td>
            <td id="arrival"  class="item" style="width: 30vh; text-align: right">{{ARRIVAL}}</td>
        </tr>
        <tr class="item">
            <td class="item" style="width: 200px">Departure: </td>
            <td id="departure"  class="item" style="width: 30vh; text-align: right">{{DEPARTURE}}</td>
        </tr>
        <tr class="item">
            <td class="item" style="width: 200px">Location: </td>
            <td id="location"  class="item" style="width: 30vh; text-align: right">{{LOCATION}}</td>
        </tr>
        </tbody>
    </table>
    <table  style="text-align: center; margin-top: 100px; margin-left: 20px">
        <tbody>
        <tr>
            <td>______________________</td>
        </tr>
        <tr>
            <td>Sign here</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
